.container {
  box-sizing: border-box;
  border: 5px solid black;
  height: 97vh;
  margin: auto;
  width: 99%;
  background-color: #f6f5f5;
}
.topBar {
  padding: 0.5rem;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.topLeft {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  height: inherit;
}
.logo {
  background-color: white;
  border-radius: 50px;
  width: 5%;
}
.logo > img {
  width: 100%;
}
.arrow {
  border-radius: 50px;
  width: 3%;
}
.arrow > img {
  width: 100%;
}
.headOne {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
}
.headOne > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.headOne + p {
  color: black;
  font-size: small;
}
.headOne :nth-child(2) {
  color: grey;
  font-size: small;
}
.lastButton {
  margin-left: 20px;
}
.lastButton > p {
  margin: auto;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.topRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.timeButton {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.timeStamp > p {
  margin-left: 100px;
  color: grey;
}
.button {
  width: 30%;
}
.button > button {
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  background-color: #d9dadb;
  font-weight: bold;
}
.sideBarCard {
  width: auto;
  height: 82vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.sideBar {
  width: 25%;
  height: 82vh;
  display: flex;
  flex-direction: column;
}
.card {
  width: 75%;
  height: 82vh;
  background-color: #faf8f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  align-items: center;
}
.text > img {
  margin-left: 20px;
  width: 6%;
}
.text > p {
  width: 50%;
  margin-top: 12px;
  margin-left: -2px;
  justify-content: flex-start;
}
.addRuleCard {
  margin-top: 100px;
  height: 62vh;
  overflow-y: scroll;
}
